:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background: linear-gradient(
    353deg,
    rgba(194, 236, 228, 1) 0%,
    rgba(196, 159, 207, 1) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  text-shadow: 1px 1px 5px rgba(194, 236, 228, 0.5);
}

iframe {
  padding: 24px;
  background: rgba(255, 255, 255, 0.2);
}

.post-item {
  padding: 24px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  position: relative;
}
.post-item::before {
  content: "";
  /* z-index: -1; */
  pointer-events: none;
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: -24px;
  right: -24px;
  border-left: 1px dashed rgba(255, 255, 255, 0.4);
  border-right: 1px dashed rgba(255, 255, 255, 0.4);
}
.post-item:last-child {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.post-item-header {
  display: flex;
  align-items: baseline;
}

.post-item-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}
.post-item-title a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

ul:last-child {
  margin-bottom: 0;
}

ul li {
  margin: 0.5em 0;
  letter-spacing: 0.1em;
}

ul li:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}
main :first-child {
  margin-top: 0;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

/* Header */
header {
  padding: 1rem 2rem;
  display: flex;
  align-items: baseline;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 24px;
}

.home {
  margin: 0; /* 16px /16 */
  font-size: 2em; /* 16px /16 */
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}
.home :link:not(:hover) {
  text-decoration: none;
}

.sss {
  /* prettier-ignore */
  text-shadow: 
    -3.0em 0 6px rgba(0, 0, 0, 0.2),
    -2.5em 0 5px rgba(0, 0, 0, 0.2),
    -2.0em 0 4px rgba(0, 0, 0, 0.2),
    -1.5em 0 3px rgba(0, 0, 0, 0.25),
    -1.0em 0 2px rgba(0, 0, 0, 0.3), 
    -0.5em 0 1px rgba(0, 0, 0, 0.35),
    0 0 2px rgba(0, 0, 0, 0.5);
}

.ss {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.home:hover .ss,
.home:hover .sss {
  text-shadow: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-left: 2em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.intro {
  font-style: italic;
  margin-bottom: 2em;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Single posts */
.post-title {
  text-shadow: -4px 6px 0px rgba(0, 0, 0, 0.2);
}

.post-meta {
  display: flex;
  margin-top: -24px;
  margin-bottom: 12px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 24px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
}

.post-footer p {
  display: inline;
  margin: 0;
}

.post-meta {
  font-family: 'Courier New', Courier, monospace;
}

/* ul + ul {
  margin-top: 16px;
} */

audio {
  width: clamp(200px, 540px, 100%);
}
