:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --lightgreen: hsl(169, 53%, 75%);
  --text: var(--darkgray);
}
* {
  box-sizing: border-box;
}
html {
  background-color: #D0B2D8;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--text);
  min-height: 100vh;
  font-size: clamp(14px, calc(8px + .7vmin + .3vw), 18px);
}

body::before {
  content: "";
  background: linear-gradient(
    360deg,
    hsl(169, 53%, 75%) 0%,
    rgba(196, 159, 207, 1) 100%
  );
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  font-size: calc(2.9em + 3vmin);
  font-weight: 900;
  line-height: 1;
  text-shadow: 1px 1px 5px rgba(194, 236, 228, 0.5);
  margin-bottom: .5em;
}

h2 {
  font-size: calc(1.2em + 2vmin);
}

.iframe {
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 700px) {
  .iframe {
    padding: 1em;
  }
}

.post-item {
  padding: 24px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  position: relative;
  max-height: 600px;
  overflow-y: hidden;
  transition: max-height .6s;
}

.post-item-wrap {
  position: relative;
}
.post-item-wrap::before {
  content: "";
  /* z-index: -1; */
  pointer-events: none;
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: -24px;
  right: -24px;
  border-left: 1px dashed rgba(255, 255, 255, 0.4);
  border-right: 1px dashed rgba(255, 255, 255, 0.4);
}
.post-item-wrap:last-child {
  border-bottom: 1px dashed #ffffff66;
}

.post-item-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@supports (-webkit-text-fill-color: #fff) {
  .clipped > .post-item-body {
    
    /* Clip background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Fading background gradient from the current text color */
    background-image: linear-gradient( currentColor 330px, rgba(255,255,255,0.01) 490px );
    max-height: 600px;
    -webkit-text-fill-color: rgba(255,255,255,0.01);
  }

/* stupid junk because safari doesn't actually work with text-fill-color despite claiming to support it */

  _::-webkit-full-page-media, _:future, :root .clipped > .post-item-body {
    -webkit-text-fill-color: initial;
    -webkit-background-clip: none;
    background-clip: none;
  }
}
_::-webkit-full-page-media, _:future, :root .post-item-body-footer,
_::-webkit-full-page-media, _:future, :root .post-item-footer {
  justify-content: flex-end
}
_::-webkit-full-page-media, _:future, :root .post-item-body li,_::-webkit-full-page-media, _:future, :root .post-item-body p {
  max-width: 88%;
}
_::-webkit-full-page-media, _:future, :root .cta-sm {
  background: rgba(255, 255, 255, 0.3);
}

.post-item-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}
.post-item-title a {
  text-decoration: none;
}

.post-item-footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.post-item-body-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: -24px;
}

button {
  cursor: pointer;
}

.cta-xs,
.cta-sm {
  appearance: none;
  font-size: 14px;
  line-height: 1;
  display: flex;
  text-decoration: none;
}
.cta-xs{
  padding: 4px;
  justify-content: space-between;
  background: none;
  border: none;
}
.cta-sm {
  border: 1px dashed rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: none;
  padding: 8px;

  padding-bottom: 0;
  margin: 0 8px;
  color: var(--darkgray);
  transition: background .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-sm > :first-child {
  font-weight: bold;
}


.cta-sm:hover .arw{
  transition: transform .2s;
}

.cta-sm:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.cta-sm:hover .down{
  transform: translateY(4px)
}
.cta-sm:hover .right{
  transform: translateX(4px)
}


ul {
  padding: 0;
  list-style: none;
}

ul:last-child {
  margin-bottom: 0;
}

ol li,
ul li {
  margin: 0.5em 0;
  letter-spacing: 0.1em;
}

ol li:hover,
ul li:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li
{
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
main a[href]:hover {
  text-decoration-thickness: 2px;
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 0 1.8rem;
  max-width: calc(950px + 10vw + 10vh);
  margin: 0 auto 100px;
}
main :first-child {
  margin-top: 0;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

/* Header */
header {
  padding: 1rem 2rem;
  align-items: baseline;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 24px;
}

.header-content {
  justify-content: space-between;
  display: flex;
  gap: 2em;
  max-width: calc(1050px + 15vw + 15vh);
  margin-left: auto;
  margin-right: auto;
}

.home {
  margin: 0; /* 16px /16 */
  font-size: 2em; /* 16px /16 */
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  max-width: 60%;
}
.home :link:not(:hover) {
  text-decoration: none;
}

.sss {
  /* prettier-ignore */
  text-shadow: 
    -3.0em 0 6px rgba(0, 0, 0, 0.2),
    -2.5em 0 5px rgba(0, 0, 0, 0.2),
    -2.0em 0 4px rgba(0, 0, 0, 0.2),
    -1.5em 0 3px rgba(0, 0, 0, 0.25),
    -1.0em 0 2px rgba(0, 0, 0, 0.3), 
    -0.5em 0 1px rgba(0, 0, 0, 0.35),
    0 0 2px rgba(0, 0, 0, 0.5);
}

.ss {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.home:hover .ss,
.home:hover .sss {
  text-shadow: none;
}

/* Nav */
.nav {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-left: 2em;
}
.nav-item {
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.intro {
  font-style: italic;
  margin-bottom: 2em;
}

.intro em {
  background-color: rgba(167, 96, 189, .3);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Single posts */
main h1,
.post-title.post-title {
  text-shadow: -4px 6px 0px rgba(0, 0, 0, 0.2);
}

.post-meta {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  margin-top: -24px;
  margin-bottom: 12px;
  gap: 12px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 24px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
}

.post-footer p {
  display: inline;
  margin: 0;
}

.page-nav {
  border: none;
  padding: 0px;
  margin: 24px 0;
  position: fixed;
  bottom: 0;
  right: 24px;
  left: 24px;
  position: fixed;
}

.page-nav::after {
  content: '';
  height: 24px;
  width: 100%;
  position: absolute;
  bottom: -24px;
  background: var(--lightgreen);
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
}

.cta-nav {
  flex-direction: row;
  padding: 12px;
  margin: 0;
  background-color: rgba(194, 236, 228, .83);
  border-color: rgba(255, 255, 255, 0.6);
}

.cta-nav.previous {
  flex-direction: row-reverse;
}

.cta-nav:hover {
  background-color: rgb(207, 242, 236, .83);
}

.cta-nav.previous:hover .arw{
  transform: translateX(-4px);
}
.cta-nav.next:hover .arw{
  transform: translateX(4px);
}
/* ul + ul {
  margin-top: 16px;
} */

audio {
  width: clamp(200px, 540px, 100%);
}

.tmpl-tiles {
  width: 90vw;
  max-width: none;
  padding: 0;
}

.tiles {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(min(calc(150px + 6vmin + 6vw), 100%), 1fr) );
}

.tiles > * {
  max-width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  position: relative;
}

.tiles img {
  width: 100%;
  height: 100%;
}

.tiles a {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  transition: transform 0.4s;
}

.tiles em {
  bottom: 16px;
  color: white;
  position: absolute;
  z-index: 1;
}

.tiles a:focus, 
.tiles a:hover {
  transform: scale(1.05);
  z-index: 2;
}

.cover {
  width: 100%;
  cursor: pointer;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  padding: 8px;
  max-width: 320px;
  margin: 20px auto;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
}

.cta-widen {
  justify-content: space-between;
  width: 3em;
  transition: width .2s;
}


.cover:hover .cta-widen {
  width: 4em;
}

.cover img {
  width: 100%;
}

.old-sites {
  grid-template-columns: repeat( auto-fill, minmax(calc(250px + 5vmin), 1fr) );

}

@media screen and (max-width: 539px) {
  .cover .cta-widen {
    display: none;
  }
}

@media screen and (min-width: 540px) {
  .cover {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    width: 360px;
    padding-bottom: 0;
    max-width: 40%;
  }

  .cover:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .cover.expanded {
    width: 100%;
    max-width: none;
    /* margin-left: 0; */
    /* margin-right: 0; */
    transition: all .3s;
  }

  .cover.expanded .cta-widen {
    flex-direction: row-reverse
  }

}