---
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
layout: layouts/home.njk
permalink: /{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

{% if pagination.pageNumber == 0 %}
<div class="intro">
  <p>This site is a record of <a href="https://twitter.com/thedamon">my</a> indie university radio thing.</p>
  <p>Radio Slipstream broadcast in various timeslots on 93.3 — CFMU — McMaster's campus station from 2004-2007, then continued as increasingly sporadic self-released episodes/mixes. One day I just might do another. <a href="/about">more</a></p>
</div>
{% endif %}

{% set postslist = posts %}
<div class="post-list">
{% include "postsinline.njk" %}
</div>
<div class="page-nav post-footer">
  <p class="prev">
  {% if pagination.previousPageLink %}
    <a class="previous cta-sm cta-nav" href="{{ pagination.href.previous | url  }}">
      <span>Newer posts</span>
      <span class="arw">←</span>
    </a>
  {% endif %}
  </p>
  {% if pagination.nextPageLink %}
  <p class="next">
    <a class="next cta-sm cta-nav" href="{{ pagination.href.next | url }}">
      <span>Older posts</span> 
      <span class="arw">→</span>
    </a>
  </p>
  {% endif %}
</div>