---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="post-title">{{ title }}</h1>
<div class="post-meta">
  <time>{{ date | readableDate}}</time>
</div>
{%- if mixcloud -%}
<iframe width="100%" height="168"
  src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Fradioslipstream%2F{{ mixcloud }}%2F"
  frameborder="0"></iframe>
{%- if spotify -%}
<iframe src="https://open.spotify.com/embed/playlist/{{ spotify }}?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
{%- elseif filename -%}
<audio controls preload="none"><source src="{{ filename }}" type="audio/mpeg"></audio>
{%- endif -%}

{% if image %}
<div 
  class="cover" 
  x-bind:class="expanded ? 'expanded' : ''"
  x-data="{ expanded: false }"
>
  <img @click="expanded = !expanded" src="/img/large/{{image}}.jpg" />
  <button class="cta-xs cta-widen" @click="expanded = !expanded" aria-label="toggle expanded view of cover image">
    <span>←</span>
    {# <span>+</span> #}
    <span>→</span>
  </button>
</div>
{% endif %}
{{ content | safe }}

<div class="post-footer">
  {% if prevPost.url %}
  <p class="pref">
    <strong>← Previous</strong>:
    <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
  </p>
  {% endif %}
  {% if nextPost.url %}
  <p class="next">
    <strong>Next</strong>:
    <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }} </a> <strong>→</strong>
  </p>
  {% endif %}
</div>